<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1" style=" color: #54af3f;">Welcome</h2>
      <h4 class="animation a2">Log in to your account using email and password</h4>
    </div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && resetPassword()"  style="max-width: 350px; margin: 0 auto;">
      <p>
        <input  [(ngModel)]="resetpass.password" #password="ngModel" type="password" name="password" id="password" class="form-control"
                placeholder="Enter your new password" required autofocus />
      </p>
      <p>
        <input type="password" class="form-control" placeholder="Confirm your new password"
               required (input)="checkPasswordMatch(this);"   />
      </p>
      <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
      </p>  </form>

  </div>
  <div class="right"></div>
</div>
