<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Ekrili</title>

  <!-- slider stylesheet -->


  <!-- bootstrap core css -->

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->

</head>

<body>
<div class="hero_area">
  <!-- header section strats -->
  <app-navbar-rent></app-navbar-rent> <!-- end header section -->
  <!-- slider section -->
  <section class="slider_section ">

    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Dari <br>
                    <span>
                        Ekrili
                      </span>
                  </h1>
                  <p>
                    Rent your new home now with Dari Rental
                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1">
                      Explore More
                    </a>
                    <a href="" class="btn-2">
                      Contact us
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row" >
                    <div class="card" >
                      <div class="cover item-c" >
                        <h1>Dari<br>Furniture</h1>
                        <span class="price"></span>
                        <div class="card-back">
                          <a routerLink="/fournitures">Go To Dari Furniture</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>


<!-- about section -->



<!-- end about section -->

<!-- trending section -->

<section class="trending_section layout_padding">
  <div id="accordion">
    <div class="container" style="margin-left: 250px; margin-top: 150px">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <body>
            <div id="scene">
              <div id="left-zone">
                <ul class="list">
                  <li class="item"><input type="radio" id="radio" name="basic_carousel" value="radio"
                                          checked="checked" /><label class="label_strawberry" for="radio">Furniture</label>
                    <div
                      class="content content_strawberry"><span class="picto"></span>
                      <h1>Furniture</h1>
                      <p>All indoor/outdoor furniture
                        <br>

                        (Chairs , Tables , Sofas , ...)
                      </p>

                    </div>
                  </li>
                  <li class="item"><input type="radio" id="banana" name="basic_carousel" value="A banana is an edible fruit, botanically a berry, produced by several kinds of large herbaceous flowering plants in the genus Musa."
                  /><label class="label_banana" for="banana">Kitchen</label>
                    <div class="content content_banana"><span class="picto"></span>
                      <h1 style="object-position: center">  Equipements and appliance </h1>
                      <p>Kitchen tools
                        <br>
                        (Refrigerators , Freezers , Cookers , Microwaves , Fryers , Mixers, ...    </p>
                    </div>
                  </li>
                  <li class="item"><input type="radio" id="decoration"
                                          name="basic_carousel" value="decoration"
                  /><label class="label_apple" for="decoration">Decoration</label>
                    <div
                      class="content content_apple"><span class="picto"></span>
                      <h1>Decoration</h1>
                      <p>Decoration Equipements <br> ( Plants , lights , handlers , ...)</p>
                    </div>
                  </li>
                  <li class="item"><input type="radio" id="clothes" name="basic_carousel" value="clothes"
                  /><label class="label_orange" for="clothes">Clothes</label>
                    <div class="content content_orange"><span class="picto"></span>
                      <h1>Clothes</h1>
                      <p>New or used <br> ( T-shirts , pants , sweaters , coats , Sneakers , Shirts , ...)</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="middle-border"></div>
              <div id="right-zone"></div>
            </div>
            </body>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end trending section -->

<!-- discount section -->

<section class="discount_section  layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <h2>
            Rent now
          </h2>

          <h2 class="main_heading">
            Dari Rental          </h2>

          <div class="">
            <a href="">
              Sell Now
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="../../../assets/home2/images/disco.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- end discount section -->

<!-- brand section -->

<section class="brand_section">
  <div class="container">
    <div class="heading_container">
      <h2>
        Featured Brands
      </h2>
    </div>
    <div class="brand_container layout_padding2">
      <figure class="image-block" style="margin: 10px">
        <h1>Chair</h1>
        <img src="https://5.imimg.com/data5/YZ/ZM/XV/SELLER-50983634/single-seater-sofa-chair.jpg" alt="" />
        <figcaption>
          <h3>
            Chair          </h3>
          <p>90 DT</p>
          <button>
            More Info          </button>
        </figcaption>
      </figure>
      <figure class="image-block" style="margin: 10px">
        <h1>Coat</h1>
        <img src="https://media.istockphoto.com/id/629516832/photo/blue-coat-isolated.jpg?s=612x612&w=0&k=20&c=2dYCEcml6_NhdV3YPojmIKV755AlkvyzsverOY6EOX4=" alt="" />
        <figcaption>
          <h3>
            Chair 2          </h3>
          <p>250 DT</p>
          <button>
            More Info
          </button>
        </figcaption>
      </figure>
      <figure class="image-block" style="margin: 10px">
        <h1>Chair 3 </h1>
        <img src="https://m.media-amazon.com/images/I/518nIizBrEL.jpg" alt="" />
        <figcaption>
          <h3>
            Chair 3          </h3>
          <p>120 DT</p>
          <button>
            More Info
          </button>
        </figcaption>
      </figure>
    </div>
    <a href="" class="brand-btn">
      See More
    </a>
  </div>
</section>

<!-- end brand section -->
<!-- contact section -->

<section class="contact_section layout_padding">
  <div class="container ">
    <div class="heading_container">
      <h2 class="">
        Search by zone      </h2>
    </div>


    <div class="map_container">
      <div class="map-responsive">
        <iframe
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
          width="800" height="400" frameborder="0" style="border:0; width: 100%; height:100%"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

</section>

<!-- end contact section -->

<!-- client section -->
<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container">
      <h2>
        Testimonial
      </h2>
    </div>
  </div>

  <div class="container">
    <div class="client_container layout_padding2">
      <div class="client_box b-1">
        <div class="client-id">
          <div class="img-box">
            <img src="../../../assets/home2/images/client-1.png" alt="" />
          </div>
          <div class="name">
            <h5>
              Magna
            </h5>
            <p>
              Consectetur adipiscing
            </p>
          </div>
        </div>
        <div class="detail">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum
          </p>
          <div>
            <div class="arrow_img">
            </div>
          </div>
        </div>
      </div>
      <div class="client_box b-2">
        <div class="client-id">
          <div class="img-box">
            <img src="../../../assets/home2/images/client-2.png" alt="" />
          </div>
          <div class="name">
            <h5>
              Aliqua
            </h5>
            <p>
              Consectetur adipiscing
            </p>

          </div>
        </div>
        <div class="detail">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrudLorem ipsum
          </p>
          <div>
            <div class="arrow_img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end client section -->

<!-- info section -->
<section class="info_section layout_padding2">
  <div class="container">
    <div class="info_logo">
      <h2>
        Digitf
      </h2>
    </div>
    <div class="row">

      <div class="col-md-3">
        <div class="info_contact">
          <h5>
            About Shop
          </h5>
          <div>
            <div class="img-box">
              <img src="../../../assets/home2/images/location-white.png" width="18px" alt="">
            </div>
            <p>
              Address
            </p>
          </div>
          <div>
            <div class="img-box">
              <img src="../../../assets/home2/images/telephone-white.png" width="12px" alt="">
            </div>
            <p>
              +01 1234567890
            </p>
          </div>
          <div>
            <div class="img-box">
              <img src="../../../assets/home2/images/envelope-white.png" width="18px" alt="">
            </div>
            <p>
              demo@gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_info">
          <h5>
            Informations
          </h5>
          <p>
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="info_insta">
          <h5>
            Instagram
          </h5>
          <div class="insta_container">
            <div>
              <a href="">
                <div class="insta-box b-1">
                  <img src="../../../assets/home2/images/i-1.jpg" alt="">
                </div>
              </a>
              <a href="">
                <div class="insta-box b-2">
                  <img src="../../../assets/home2/images/i-2.jpg" alt="">
                </div>
              </a>
            </div>

            <div>
              <a href="">
                <div class="insta-box b-3">
                  <img src="../../../assets/home2/images/i-3.jpg" alt="">
                </div>
              </a>
              <a href="">
                <div class="insta-box b-4">
                  <img src="../../../assets/home2/images/i-4.jpg" alt="">
                </div>
              </a>
            </div>
            <div>
              <a href="">
                <div class="insta-box b-3">
                  <img src="../../../assets/home2/images/i-5.jpg" alt="">
                </div>
              </a>
              <a href="">
                <div class="insta-box b-4">
                  <img src="../../../assets/home2/images/i-6.jpg" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info_form ">
          <h5>
            Newsletter
          </h5>
          <form action="">
            <input type="email" placeholder="Enter your email">
            <button>
              Subscribe
            </button>
          </form>
          <div class="social_box">
            <a href="">
              <img src="../../../assets/home2/images/fb.png" alt="">
            </a>
            <a href="">
              <img src="../../../assets/home2/images/twitter.png" alt="">
            </a>
            <a href="">
              <img src="../../../assets/home2/images/linkedin.png" alt="">
            </a>
            <a href="">
              <img src="../../../assets/home2/images/youtube.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end info_section -->


<!-- footer section -->
<section class="container-fluid footer_section ">
  <div class="container">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </div>
</section>
<!-- end  footer section -->


<script type="text/javascript" src="../../../assets/home2/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../../assets/home2/js/bootstrap.js"></script>
<script type="text/javascript" src="../../../assets/home2/https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
</script>
<script type="text/javascript">
  $(".owl-carousel").owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    navText: [],
    autoplay: true,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 1
      },
      420: {
        items: 2
      },
      1000: {
        items: 5
      }
    }

  });
</script>
<script>
  var nav = $("#navbarSupportedContent");
  var btn = $(".custom_menu-btn");
  btn.click
  btn.click(function (e) {

    e.preventDefault();
    nav.toggleClass("lg_nav-toggle");
    document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
  });
</script>
<script>
  $('.carousel').on('slid.bs.carousel', function () {
    $(".indicator-2 li").removeClass("active");
    indicators = $(".carousel-indicators li.active").data("slide-to");
    a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
    console.log(indicators);

  })
</script>

</body>

</html>
